@media screen and (orientation: portrait) {
    * {
        margin: 0 auto;
        max-width: 100vw;
        max-height: 100vh;
        overflow: overlay;
    }
    body::-webkit-scrollbar {
        width: 0;
    }
    main::-webkit-scrollbar {
        width: 10px;
        overflow: overlay;
    }
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #404040;
        border-radius: 25%;
        border: 4px solid transparent;
        background-clip: content-box;
    }
    body {
        background-color: #FFFFFF;
        overflow-x: hidden;
    }
    @font-face {
        font-family: "FuturaLT";
        src: url(src/fonts/Futura\ Lt\ Light.ttf);
    }
    .inform {
        display: flex;
        position: relative;
        margin: 0 auto;
        width: 100vw;
        height: 5vh;
        background-color: #F5E7DF;
        font-family: "FuturaLT";
        color: rgb(0, 0, 0);
        font-size: 2.4vw;
        font-weight: bold;
        line-height: 1.6em;
        align-items: center;
    }
    .informtext {
        margin-left: 7vw;
    }
    .contact {
        display: flex;
        margin-right: 8vw;
    }
    .contact span {
        display: none;
    }
    .icons {
        width: 2vh;
        height: 2vh;
        padding-top: 0.7vh;
        margin-left: 5vw;
        margin-right: 1vw;
    }
    header {
        text-align: center;
        font-size: 3vw;
        font-family: "FuturaLT";
        letter-spacing: 0.2vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    .navbar {
        display: flex;
        margin-bottom: 1vh;
        max-width: 100vw;
        align-items: center;
    }
    nav {
        display: inline-block;
        font-family: "FuturaLT";
        font-weight: bold;
        font-size: 1.1vh;
        margin-top: 2vh;
        margin-left: 6vw;
    }
    nav a {
        margin-left: 2vw;
    }
    .navright {
        display: flex;
        font-family: "FuturaLT";
        font-weight: bold;
        font-size: 1.2vw;
        margin-top: 2vh;
        margin-right: 7vw;
    }
    #search {
        display: none;
    }
    .navright p {
        display: none;
    }
    .searchbar {
        display: flex;
    }
    .searchbar img {
        margin-left: 0;
        cursor: text;
    }
    main {
        margin: auto;
    }
    .gallery {
        display: block;
        position: relative;
        text-align: center;
        font-family: "FuturaLT";
        font-weight: 600;
        letter-spacing: 2px;
        margin-bottom: 2vh;
    }
    .gallery img {
        width: 85vw;
        height: 20vh;
        object-fit: cover;
    }
    .textonimagecenter {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1vh;
    }
    #toptextgallery {
        top: 30%;
        font-size: 1.2vh;
    }
    #midtextgallery {
        top: 50%;
        font-size: 2vh;
        font-weight: 550;
        white-space: nowrap;
    }
    #bottomtextgallery {
        bottom: 25%;
        font-family: 'Times New Roman', Times, serif;
        font-weight: lighter;
        font-size: 1.2vh;
    }
    .benefits {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background-color: #F6F6F6;
        position: relative;
        width: 85vw;
        height: 25vh;
        align-items: center;
        text-align: center;
        margin-bottom: 2vh;
    }
    svg {
        display: flex;
    }
    .svg1 {
        width: 5vh;
        height: 5vh;
    }
    .svg {
        width: 4vh;
        height: 4vh;
    }
    .bnftitems span {
        font-family: "FuturaLT";
        font-size: 3.6vw;
        font-weight: 900;
        letter-spacing: 0.2vw;
    }
    .bnftitems p {
        font-family: "FuturaLT";
        font-size: 3.6vw;
    }
    .doublegallery {
        display: flex;
        width: 90vw;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2vh;
    }
    .doublegallery div {
        width: 40vw;
        height: 25vh;
        background-size: cover;
        position: relative;
    }
    .doublegallery div:hover {
        background-size: 150%;
    }
    .dgimageleft {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFFFFF;
        font-family: "FuturaLT";
        letter-spacing: 0.3vw;
        font-size: 1.2vh;
        text-align: center;
        white-space: nowrap;
    }
    #dgtoplefttext {
        top: 20%;
        font-weight: 700;
    }
    #dgmidlefttext {
        top: 50%;
        font-size: 2vh;
        letter-spacing: 0;
        font-weight: 550;
        white-space: normal;
    }
    #dgbottomlefttext {
        bottom: 10%;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 0;
    }
    .dgimageright {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #000000;
        font-family: "FuturaLT";
        letter-spacing: 0.3vw;
        font-size: 1.2vh;
        text-align: center;
        white-space: nowrap;
    }
    #dgtoprighttext {
        top: 20%;
        font-weight: 700;
    }
    #dgmidrighttext {
        top: 50%;
        font-size: 2vh;
        letter-spacing: 0;
        font-weight: 550;
        white-space: normal;
    }
    #dgbottomrighttext {
        bottom: 10%;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 0;
    }
    .products {
        display: flex;
        width: 90vw;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2vh;
        font-size: 1.4vh;
    }
    .products div {
        height: 25vw;
        width: 25vw;
        background-color: #F6F6F6;
        position: relative;
        margin: 0;
        margin-bottom: 1vh;
    }
    #product1 {
        background-image: url(src/vectors/product1.webp);
        background-size: cover;
    }
    #product1:hover {
        background-image: url(src/vectors/product1-2.webp);
        background-size: cover;
        transition: ease;
    }
    #product2 {
        background-image: url(src/vectors/product2.webp);
        background-size: cover;
    }
    #product2:hover {
        background-image: url(src/vectors/product2-2.webp);
        background-size: cover;
    }
    #product3 {
        background-image: url(src/vectors/product3.webp);
        background-size: cover;
    }
    #product3:hover {
        background-image: url(src/vectors/product3-2.webp);
        background-size: cover;
    }
    .products span, p {
        font-family: "FuturaLT";
    }
    .services {
        display: flex;
        width: 90vw;
        margin-bottom: 2vh;
    }
    #leftdiv {
        position: relative;
        height: 25vh;
        width: 32vw;
        background-image: url(src/vectors/gradient.webp);
        background-size: cover;
    }
    #rightdiv {
        position: relative;
        height: 25vh;
        width: 48vw;
        background-image: url(src/vectors/base.webp);
        background-size: cover;
    }
    .srvcimageleft {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #000000;
        font-family: "FuturaLT";
        letter-spacing: 0.3vw;
        font-size: 1.2vh;
        text-align: center;
        white-space: normal;
    }
    #srvctoplefttext {
        top: 15%;
        font-weight: 700;
    }
    #srvcmidlefttext {
        top: 50%;
        font-size: 2vh;
        letter-spacing: 0;
    }
    #srvcbottomlefttext {
        bottom: 10%;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 0;
    }
    .srvcimageright {
        position: absolute;
        left: 10%;
        transform: translate(0%, -50%);
        color: #000000;
        font-family: "FuturaLT";
        letter-spacing: 0.3vw;
        font-size: 1.2vh;
        text-align: left;
        white-space: normal;
    }
    #srvctoprighttext {
        top: 15%;
        font-weight: 700;
    }
    #srvcmidrighttext {
        top: 50%;
        font-size: 2vh;
        letter-spacing: 0;
        white-space: normal;
    }
    #srvcbottomrighttext {
        bottom: 10%;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 0;
    }
    .hashtag {
        text-align: center;
        font-family: "FuturaLT";
        font-size: 1.8vh;
        margin-bottom: 2vh;
    }
    .posts {
        display: flex;
        width: 88vw;
        margin-bottom: 4vh;
    }
    #post1 {
        height: 12vw;
        width: 12vw;
        background-image: url(src/vectors/post1.jpg);
        background-size: cover;
    }
    #post2 {
        height: 12vw;
        width: 12vw;
        background-image: url(src/vectors/post2.jpg);
        background-size: cover;
    }
    #post3 {
        height: 12vw;
        width: 12vw;
        background-image: url(src/vectors/post3.jpg);
        background-size: cover;
    }
    #post4 {
        height: 12vw;
        width: 12vw;
        background-image: url(src/vectors/post4.jpg);
        background-size: cover;
    }
    #post5 {
        height: 12vw;
        width: 12vw;
        background-image: url(src/vectors/post5.jpg);
        background-size: cover;
    }
    #post6 {
        height: 12vw;
        width: 12vw;
        background-image: url(src/vectors/post6.jpg);
        background-size: cover;
    }
    #line {
        width: 100vw;
        height: 0.5px;
        background-color: black;
        margin-bottom: 4vh;
    }
    .sectlinks {
        font-family: "FuturaLT";
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        margin-bottom: 2vh;
    }
    .newsletter {
        display: flex;
        flex-wrap: wrap;
        flex-flow: wrap;
        flex-direction: column;
        margin-right: 5vw;
        width: 100%;
    }
    .email {
        display: flex;
        flex-wrap: wrap;
        flex-flow: wrap;
        width: 100%;
        margin-bottom: 1vh;
        text-align: left;
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        flex-direction: column;
    }
    .email:hover {
        border-bottom: 2px solid black;
    }
    .email:focus {
        border-bottom: 2px solid black;
    }
    .sendbtn {
        width: 100%;
        margin-bottom: 1vh;
        background-color: #000000;
        border: none;
        color: #FFFFFF;
        font-family: "FuturaLT";
        padding: 2vw;
    }
    .sendbtn:hover {
        cursor: pointer;
    }
    .verticalline {
        display: none
    }
    .links {
        width: 100%;
        display: flex;
        margin: auto;
        margin-top: 2vh;
        flex-wrap: wrap;
        flex-direction: column;
        flex-flow: wrap;
        letter-spacing: 0.2vw;
        font-size: 2.2vh;
    }
    .links a {
        margin-left: 0.5vw;
        margin-right: 0.5vw;
    }
    .credits {
        display: flex;
    }
    h4 {
        letter-spacing: 0.2vw;
        font-size: 2vh;
    }
    footer {
        display: flex;
        flex-wrap: wrap;
        font-family: "FuturaLT";
        align-items: center;
        margin: auto;
        margin-left: 6vw;
        margin-right: 6vw;
        padding-bottom: 5vw;
    }
    footer div {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 4vh;
    }
    #credits {
        width: 100%;
    }
    #security {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    #shield {
        margin-bottom: 2vh;
    }
    #seguranca {
        margin-bottom: 2vh;
    }
    #payment {
        width: 75%;
        height: 75%;
    }
}