* {
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
}
body{
    background-color: black;
    max-width: 100vw;
    max-height: 100vh;
}
header {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(20, 100, 38);
    position: sticky;
    margin: auto;
    text-align: center;
}
header span {
    font-size: 30px;
    font-weight: bolder;
    font-family: 'American Typewriter', serif;
    display: block;
    font-style: oblique;
    font-variant: small-caps;
}
header p {
    color: hsl(80, 90%, 30%);
}
.contacticon{
    width: 20px;
    height: auto;
    display: inline-block;
}
.profpic {
    width: 120px;
    height: auto;
    border-radius: 100%;
    border-style: dashed;
    display: block;
    margin: auto;
}
header:hover {
    color: #90ee9085;
}
.topnav{
    padding-left: 0;
    position: sticky;
    background-color: black;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
}
.topnav a {
    margin-right: auto;
    margin-left: auto;
    border: 1px solid rgb(117, 117, 117);
    flex-wrap: wrap;
}
button {
    margin-left: 0;
    background: black;
    color: rgb(20, 100, 38);
    border: 1px solid rgb(20, 100, 38);
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
}
button:hover {
    color: lightgreen;
    cursor: pointer;
}
article a {
    color: white;
    margin-right: 15px;
}
article a:hover {
    color: lightgreen;
}
content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
article {
    background-color: rgb(20, 100, 38);
    color: white;
    font-size: 20px;
    padding: 20px 10px 20px 10px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
    width: 40%;
    height: auto;
    overflow-y: scroll;
}
article#sobre p {
    margin-bottom: 20px;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 25%;
    border: 6px solid transparent;
    background-clip: content-box;
}
article#sobre div {
    display: inline-block;
}
div#links {
    margin-top: auto;
}
@media screen and (max-width: 600px) {
    content {
        display: block
    }
    article {
        background-color: rgb(20, 100, 38);
        color: white;
        font-size: 20px;
        padding: 20px 10px 20px 10px;
        width: auto;
        margin-bottom: 25px;
    }
}
h1 {
    margin-bottom: 15px;
}
div#list {
    display: inline-block;
}
div#bgimage {
    opacity: 25%;
    float: right;
    display: block;
}
.quote {
    color: lightgreen; 
    display: block; 
    margin-top: 15px; 
    margin-bottom: 15px;
}
article p{
    margin-bottom: 15px;
}
.bottom {
    display: block;
    height: 40px;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    align-items: center;
}
.bottom a {
    color: white;
}
.bottom a:hover {
    color: lig;
}