* {
    margin: 0 auto;
    max-width: 1920px;
    max-height: 1080px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 100vw;
    background-color: #DEDEDE;
}
header {
    display: flex;
    position: relative;
    width: 100vw;
    height: 60px;
    background-color: #606060;
    align-items: center;
    /*box-shadow: 0px 10px 30px 0px #393E46;*/
}
a#goback {
    text-decoration: none;
    border: none;
    margin: none;
    position: absolute;
    left: 5%;
    width: 4vw;
    height: auto;
}
.backarrow {
    width: 4vw;
    height: auto;
}
header span {
    font-weight: bold;
    font-size: 2.2rem;
    color: #FFFFFF;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 89vh;
}
main section {
    display: flex;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.icons {
    width: 5vw;
    height: auto;
    margin-right: 2vw;
}
input[type=text], [type=number], [type=email], [type=password] {
    width: 36vw;
    height: 11vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 2vw;
    border: none;
    border-radius: 50px;
    border: 1.5px solid #F0BD61;
    /*box-shadow: 0px 4px 4px 0px #393E46;*/
}
button {
    width: 18vw;
    height: 11vh;
    margin-top: 4vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    border-radius: 50px;
    background-color: #9C9C9C;
    color: #FFFFFF;
    border: 1.5px solid #F0BD61;
    box-shadow: 0px 4px 4px 0px #393E46;
}
button:hover {
    cursor: pointer;
}
button:focus {
    background-color: #606060;
    box-shadow: none;
    cursor: pointer;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
:placeholder-shown {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 2vw;
}